div {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red1 {
  background-color: red;
  position: relative;
  left: 405px;
  bottom: 300px;
}

.blue1 {
  background-color: blue;
  position: relative;
  left: 200px;
  bottom: 400px;
}

.green1 {
  background-color: green;
  position: relative;
  left: 305px;
  bottom: 500px;
}
